body{
  background-color: bisque;
}

#bubble{
  padding-top: 25px;
  font-size: 50px;
}


nav{
  height: 80px;
}

li{
  font-size: 40px;
  color: aliceblue;
  padding: 8px 16px;
  float: left;
  width: auto;
  border: none;
  display: block;
  outline: 0;
  position: relative;
}

li::after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: 10px;
  width: 0px;
  height: 3px;
  background: white;
  transition: width 200ms ease;
  
}

li:hover::after {
  width: 100%;
}

li a:active {
  color: white;
}

li a:hover {
  text-decoration: none;
  color: white;
}

a{
  color: white !important;
}


.icon{
  top: 8%;
  border: 2px white solid;

}


.w3-card-4 img{
  width: 275px;
  height: 300px;
}
/* ---------------------------------------------------------------------------------------- */

