<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href='{{url_for("static", filename="menu_style.css")}}'>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <title>Menu</title>
</head>
<body>

    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <div class="container-fluid">
        <div class="navbar-header">
        <a class="navbar-brand" id='bubble'>BubbleLin</a>
        </div>
        <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
        <li><a href="/menu">Menu</a></li>
        <li><a href="/drink_order">Order</a></li>
        <div class="icon"><a href="/login"><img src="static/user-icon.png" alt="log in" height=64 width=64></a></div>
        </ul>
    </div>
    </div>
    </nav>


<table>
<tr>
    <td><div class="container w3-center"  style="float: left;">    
    <a href=" " title="This is some text I want to display." ><img src="static/original.jpg" alt="" height=250 width=300>   </a>
    <p><b>Original milk tea</p></h>  
    </div></td>

    <td><div class="container w3-center" style="float:left;"> 
        <img src="static/taro.jpg" alt="" height=250 width=300> 
        <p><b>Taro milk Tea</b></p> 
    </div></td>

    <td><div class="container w3-center"  style="float: left;">
        <img src="static/honeydew.jpg" alt="" height=250 width=300>      
        <p><b>Honeydew milk tea</p></h>  
    </div></td>

    <td><div class="container w3-center"  style="float: left;">
        <img src="static/caramel.jpg" alt="" height=250 width=300>      
        <p><b>Caramel milk tea</p></h>  
    </div></td>

    <td><div class="container w3-center"  style="float: left;">
        <img src="static/wintermelon.jpg" alt="" height=250 width=300>      
        <p><b>Wintermelon milk tea</p></h>  
    </div></td>

    <td><div class="container w3-center"  style="float: left;">
        <img src="static/red bean.jpg" alt="" height=250 width=300>      
        <p><b>Red Bean milk tea</p></h>  
    </div></td>

    <td><div class="container w3-center"  >
        <img src="static/chocolate.jpg" alt="" height=250 width=300>      
        <p><b>Chocolate milk tea</p></h>  
    </div></td>



</tr>
</table>



</body>
</html>
