
<html>
    <head>
      <title>Sign Up</title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet"  href='{{url_for("static", filename="signup_style.css")}}'>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</head>
<body>  

  <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <div class="container-fluid">
    <div class="navbar-header">
    <a class="navbar-brand" id='bubble'>BubbleLin</a>
    </div>
    <ul class="nav navbar-nav">
    <li><a href="/">Home</a></li>
    <li><a href="/menu">Menu</a></li>
    <li><a href="/drink_order">Order</a></li>
    <div class="icon"><a href="/login"><img src="static/user-icon.png" alt="log in" height=64 width=64></a></div>
    </ul>
</div>
</div>
</nav>

<table>
<div class="container">
        <tr><h1>Please login</h1></tr>   
  <main class="Site-content">
    {% block body %}
      {% if not session["registered"]%}
        <form action="/signup" method="POST" style="padding: 20px 45px; ">
          <input type="username" placeholder='Username' name="username">
          <input type="password" placeholder='Password' name="password">
          <input type="submit" value="Register">
        </form>
        {%if error%}
          <h3><p class='error' style='color: black'>{{error}}</p></h3>
        {%endif%}
      {%endif%}
    {%endblock%}
  </main>
</div>
</table>



    </body>
  </html>